<!DOCTYPE html>
<html>
<head>
    <title>Web Chat</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>


    <div id="app-root">
        <div class="container" style="padding-top: 2rem;">
            <header class="navbar">
                <!-- Brand -->
                <section class="navbar-section">
                    <a class="navbar-brand">
                        <strong>Web Chat</strong>
                    </a>
                </section>
                <!-- END Brand -->


                <!-- Links -->
                <section class="navbar-section">
                    <p class="user"><%= user.email %></p>
                    <a class="btn btn-link" href="/sign-out">Sign out</a>
                </section>
                <!-- END Links -->
            </header>


        </div> <!-- END .container -->
    </div> <!-- END #app-root -->

</body>
</html>